{namespace ptpaga=CHDuBar\PruebaTpagaEcommerce\ViewHelpers}
<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listado de compras</h1>

<f:flashMessages />

<table  class="tx_pruebatpagaecommerce table table-striped" >
	<tr>
		<th scope="col"><f:translate key="tx_pruebatpagaecommerce_domain_model_sale.identifier" /></th>		
		<th scope="col"><f:translate key="tx_pruebatpagaecommerce_domain_model_sale.checkout" /></th>
		<th scope="col">Comprador</th>
		<th scope="col"><f:translate key="tx_pruebatpagaecommerce_domain_model_sale.amount" /></th>		
		<th scope="col">Valor unidad</th>
		<th scope="col">Total Compra</th>
		<th scope="col"><f:translate key="tx_pruebatpagaecommerce_domain_model_sale.status" /></th>
	</tr>
	<f:for each="{sales}" as="sale">
		<tr>
			<td><f:link.action action="show" arguments="{sale : sale}"> {sale.identifier}</f:link.action></td>
			<td><f:link.action action="show" arguments="{sale : sale}"> {sale.checkout}</f:link.action></td>
			<td><f:link.action action="show" arguments="{sale : sale}"> {sale.buyer.username}</f:link.action></td>					
			<td><f:link.action action="show" arguments="{sale : sale}"> {sale.amount}</f:link.action></td>
			<td><f:link.action action="show" arguments="{sale : sale}"> {sale.purchasedProduct.price}</f:link.action></td>			
			<td><f:link.action action="show" arguments="{sale : sale}"> {ptpaga:totalCompra(value: '{sale.purchasedProduct.price}', count: '{sale.amount}')}</f:link.action></td>		
			<td><f:link.action action="show" arguments="{sale : sale}"> {ptpaga:identifyStatus(statusId: '{sale.status}')}</f:link.action></td>				
		</tr>
		</f:for>
</table>

	</f:section>
</html>