<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-prueba-tpaga-ecommerce table" >
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_product.name" />
		</td>
		<td>
			{product.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_product.cover" />
		</td>
		<td>
			<f:image src="{product.cover.originalResource.publicUrl}"/>			
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_product.price" />
		</td>
		<td>
			{product.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_product.description" />
		</td>
		<td>
			{product.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_product.stock" />
		</td>
		<td>
			{product.stock}
		</td>
	</tr>
</table>
</html>