<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tx-prueba-tpaga-ecommerce">
	<h2>{product.name}</h2>
	<div class="row">
		<div class="col">
			<f:image src="{product.cover.originalResource.publicUrl}" />
		</div>
		<div class="col">
			<h3>
				<div class="price">Precio: ${product.price}</div>
			</h3>

			<div class="description">{product.description}</div>
		</div>
	</div>
	<div class="stock">Productos en stock: {product.stock}</div>
</div>

</html>