{namespace ptpaga=CHDuBar\PruebaTpagaEcommerce\ViewHelpers}
<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-prueba-tpaga-ecommerce" >
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.identifier" />
		</td>
		<td>
			{sale.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.amount" />
		</td>
		<td>
			{sale.amount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.status" />
		</td>
		<td>
			{ptpaga:identifyStatus(statusId: '{sale.status}')}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.checkout" />
		</td>
		<td>
			{sale.checkout}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pruebatpagaecommerce_domain_model_sale.user_ip_address" />
		</td>
		<td>
			{sale.userIpAddress}
		</td>
	</tr>
	<tr>
			<td>
				
			</td>
			<td>
				
			</td>
		</tr>
</table>
<h2>Comprador</h2>
<f:render partial="Customer/Properties" arguments="{costumer: '{sale.buyer}'}" />

<h2>Producto Adquirido</h2>
<f:render partial="Product/Properties" arguments="{product: '{sale.purchasedProduct}'}" />
</html>